# Rust
/target

# WASM
/target-wasm
/out-wasm

# default directory for tracy files
/tracy_out

# directory with docs about what to do
/todo

# default directory for collected data
/data

# logs directory
/logs